body {
    font-family: Arial, sans-serif;
    background-color: #1D2026;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.container>h1 {
    color: white;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin-top: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #363C47;
    color: white;
    border: 1px solid #333B48;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cell:hover {
    background-color: #2D3240;
}

.result {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: gold;
}

.reset-btn {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #1D2026;
    border-radius: 5%;
    outline: none;
    background-color: #4CC2FF;
    color: black;
}

.reset-btn:hover {
    background-color: #47B1EA;
}